@import url('./styles/variables.css');
@import url('./styles/font.css');
@import url('./styles/input.css');
@import url('./styles/button.css');
@import url('./styles/slider.css');
@import url('./styles/popover.css');

* {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}


.uppercase {
  text-transform: uppercase;
}

.text-montserrat {
  font-family: var(--font-montserrat);
}

.section-title h3 span:last-child {
  position: relative;
  z-index: 1;
}

.section-title h3 span:last-child::after {
  content: ' ';
  height: 2px;
  background-color: #EAEAEA;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 100vw;
  left: calc(100% + 15px);
}

.section-title h3 {
  background-color: #F5F5F5;
  display: block;
  padding-right: 15px;
  font-family: var(--font-montserrat);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  overflow-x: hidden;
}

.section-title h3 span:nth-child(2) {
  color: #333333;
}

.section-title h3 span:first-child {
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.section-caption {
  font-style: italic;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

#hero {
  background-color: var(--background);
  background-image: url('../assets/images/background-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  min-height: 500px;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #194D41 0%, rgba(25, 77, 65, 0.7) 100%);
  opacity: 0.9;
  z-index: 1;
}

#hero .hero-devider {
  display: flex;
  flex-direction: column;
}

#hero,
#hero .form-container {
  position: relative;
}


#hero .banner-caption {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  padding: 15px;
}

#hero .banner-caption h1 {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: 700;
}

#hero .banner-caption h1 span:first-child {
  color: var(--background);
  text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px,
    #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
}

#hero .banner-caption p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFFCC;
}

#hero .form-container {
  padding: 15px;
}

#hero .form-card {
  background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px 0px #0000001F;
  position: relative;
  z-index: 4;
  border-radius: 15px;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#hero .form-card .form-title {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 50px;
}

#hero .form-card .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#hero .form-card .form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#hero .form-card .form-wrapper .form-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#hero .form-card .form-action {
  margin-top: 50px;
}

#hero .form-card .btn-primary {
  width: 100%;
}


#intro {
  position: relative;
  background-color: #F5F5F5;
  padding: 50px 0;
}


#intro .gallery {
  display: none;
}

#intro .introduction {
  padding: 0 15px;
}


#intro .introduction .introduction-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #333333;
}

#intro .introduction .introduction-content button {
  width: 100%;
}


#slider .slide-text {
  background-color: var(--background);
  font-family: var(--font-montserrat);
  padding: 150px 35px 35px 35px;
  color: white;
  font-style: italic;
  line-height: 24px;
  font-size: 14px;
  border-radius: 15px;
}

#slider .slide-body {
  padding-top: 50px;
}

#slider img:first-child {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  margin-left: 35px;
  position: absolute;
}

#slider img:nth-child(2) {
  width: 60px;
  height: 47px;
  border-radius: 0;
  margin-left: 35px;
  position: absolute;
  top: 130px;
  right: 50px;
}

#slider .slide-text p:first-child {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: capitalize;
}

#intro-2 {
  background-color: #F5F5F5;
  padding: 50px 0;
}

#intro-2 .benefit {
  padding: 0 15px;
}

#intro-2 .benefit .section-caption {
  margin-bottom: 20px;
}

#intro-2 .benefit .benefit-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

#intro-2 .benefit-content .benefit-paragraph p {
  font-family: var(--font-montserrat);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}


#intro-2 .popover {
  width: 100%;
  height: 96px;
}

#intro-2 .benefit-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tablet styles (768px and up) */
@media screen and (min-width: 768px) {
  .section-title h3 {
    font-size: 36px;
    font-family: var(--font-montserrat);
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0;
  }

  #hero .banner-caption {
    padding: 15px 45px;
  }

  #hero .banner-caption h1 {
    font-size: 64px;
    font-weight: 72px;
  }


  #hero .banner-caption p {
    font-size: 18px;
    line-height: 28px;
  }

  #hero .form-container {
    padding: 0 80px 80px;
  }

  #hero .form-card {
    width: 472px;
    margin: auto;
  }

  #hero .form-card .form-wrapper .form-column {
    flex-direction: row;
  }

  #intro .gallery {
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  #intro .gallery img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  #intro .introduction .introduction-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 20px;
  }

  #intro .introduction .introduction-content .btn {
    height: 52px;
    margin-top: 15px;
  }

  #intro-2 .benefit .benefit-paragraph {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  #slider .slide-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  #slider .slide-item .slide-image img:first-child {
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #slider .slide-item .slide-image img:nth-child(2) {
    width: 40px;
    height: 31px;
    border-radius: 0;
    top: 120px;
    right: 30px;
  }

  #slider .slide-body {
    padding-top: 0;
  }

  #slider .slide-text {
    padding: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #intro-2 .benefit-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/* Desktop styles (1024px and up) */
@media screen and (min-width: 1024px) {
  :root {
    --container-padding: 3rem;
  }
}

/* Large desktop styles (1440px and up) */
@media screen and (min-width: 1440px) {
  :root {
    --container-padding: 4rem;
  }
}