.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: var(--font-montserrat);
  justify-content: center;
  transform: translateY(0);
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.btn:active {
  cursor: pointer;
  transform: translateY(0);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.btn-primary {
  background-color: #5BC8AF;
  color: white;
  box-shadow: 0px 4px 6px 0px #00000014;
}

.btn-primary:hover {
  background-color: #5BC8AF;
}

.btn-primary:active {
  background-color: #35BB9C;
}

.btn-primary:disabled {
  background-color: #35BB9C;
}

.btn-secondary {
  background-color: transparent;
  border: 3px solid #5BC8AF;
  color: #5BC8AF;
  box-shadow: 0px 4px 6px 0px #00000014;
}

.btn-secondary:disabled {
  border-color: rgba(91, 200, 175, 0.5);
  color: rgba(91, 200, 175, 0.5);
  box-shadow: none;
}